$primary-color:#414578;
$light-color:#fff;
$quiz-app-bg: #e7dff8;
$answer-bg:#d7f2f7;
$border-color:#dfdfdf;
$on-color:#8751fc;
$dark-green:#2fa903;
$good-color:darkorange;
$not-good-color:rgb(241, 62, 62);
$light-purple:#7076b2;
